body {
	background: black
}

#main {
	padding-top: 50px;
	font-family: monospace;
}

#main .level {
	cursor: pointer;
	background: #ccc;
	margin: 10px;
	padding: 10px 10px 15px 10px;
	text-align: center;
}

#main .level .results {
	font-size: 40px;
}

#main .level .stars :before {
	position: absolute;
	font-size: 25px;
}

#main .level .stars .first:before {
	top: -33px;
	left: -32px;
}

#main .level .stars .middle:before {
	top: -19px;
	left: -13px;
	font-size: 30px;
}

#main .level .stars .last:before {
	top: -33px;
	left: 11px;
}

#level {
	max-width: 900px;
	margin-top: 30px;
	display: none;
}

#level .editor textarea {
	resize: none;
	height: 477px;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	margin-top: 35px;
	background: #eee;
	border-radius: 4px 4px 0 0;
}

#level .editor textarea.witherrors {
	height: 407px;
}


#level .editor .form-group {
	margin-bottom: 0px;
}

#level .render {
	background: black;
	border-radius: 4px;
	margin-top: 1px;
}

#level .error {
	background: red;
	height: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#level .btn-group {
	box-sizing: border-box
	height: 70px;
	margin-top: 0px;
}

#level .btn-group .btn-warning {
	border-radius: 0 0 0 6px;
	width: 30%;
}

#level .btn-group .btn-success {
	border-radius: 0 0 6px 0;
	width: 70%;
}

