#level {
	max-width: 900px;
	margin-top: 50px;
}

#level .editor textarea {
	height: 300px;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
}

#level .editor .form-group {
	margin-bottom: 0px;
}

#level .render {
	background: green;
	border-radius: 4px;
	margin-top: 1px;
}

#level .errors {
	background: red;
	height: 70px;
	border-radius: 4px;
	margin-top: 1px;
}

#level .btn-group {
	background: red;
	height: 70px;
	border-radius: 4px;
	margin-top: 1px;
}

