<!DOCTYPE html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="./lib/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./main.css"/>

    <title>ProgPac</title>

    <script src="./lib/jquery-2.1.1.min.js"></script>
    <script src="./lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-resource.min.js"></script>
    <script src="./lib/angular-route.min.js"></script>

    <script src="//code.createjs.com/createjs-2013.12.12.min.js"></script>
    
    <script src="./game.js"></script>
    <script src="./main.js"></script>
    
  </head>

  <body>
    
    <div ng-view></div>

  </body>
</html>
