<div id="main" class="container">

  <div class="row" ng-repeat="levels in levels_rows">
    <div class="col-md-4" ng-repeat="level in levels">
      <div class="level" ng-click="go(level)">
	{{ level.name }}
	<div class="results">
	  {{ level.result.length || 0}}
	</div>
	<div class="stars" ng-init="score = level.result.score || 0">

	  <span style="color: gold" class="glyphicon glyphicon-star first" ng-show="score > 0"></span>
	  <span style="color: gold" class="glyphicon glyphicon-star middle" ng-show="score > 1"></span>
	  <span style="color: gold" class="glyphicon glyphicon-star last" ng-show="score > 2"></span>

	  <span style="color: #ddd" class="glyphicon glyphicon-star first" ng-show="score <= 0"></span>
	  <span style="color: #ddd" class="glyphicon glyphicon-star middle" ng-show="score <= 1"></span>
	  <span style="color: #ddd" class="glyphicon glyphicon-star last" ng-show="score <= 2"></span>
	  
	</div>
      </div>
    </div>
  </div>

</div>
