<div id="level" class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <canvas id="render" class="render" width="600", height="556"></canvas>
      
    </div>
    
    <div class="col-md-4 editor">
      <form role="form" ng-submit="submit()">
	<div class="form-group">
	  <textarea ng-model="source" class="form-control" ng-class="{witherrors: error}">
	  </textarea>
	</div>

	<div class="error" ng-show="error">
	  {{ error.location }} <br/>
	  {{ error.message }}
	</div>

	<div class="btn-group btn-block"> 
	  <button type="button" class="btn btn-default btn-warning btn-lg">
	    <span class="glyphicon glyphicon-remove"></span>
	  </button>
	  <button type="submit" class="btn btn-default btn-success btn-lg" >
	    <span class="glyphicon glyphicon-play"></span>
	  </button>
	</div>
      </form>
    </div>
  </div>

</div>
